
			<footer>  
        <div class="col-md-12 col-sm-12">
          <div class="row">   
            <div class="col-md-6 col-sm-6">
              <small><i>&copy;2014 Raging Flame. All rights reserved.</i></small>
            </div><!--/12-->      
            
            <div class="col-md-6 col-sm-6">
              <div class="social-icons">
                <a href="#"><i class="icon-twitter-sign"></i></a>
                <a href="#"><i class="icon-github-sign"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div><!--/row-->
  </div><!--/container-->

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>